<!DOCTYPE html>
<html lang="en">

<head>
  <title>Express.js Learning</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  {{>header}}
  <p>{{errorMessage}}</p>
  {{>footer}}
</body>

</html>
